/* Index */
#index {
  background-color: rgb(89, 96, 105);
}
/* General layouts */
header {
  background-color: rgb(57, 62, 68);
  color: #FFFFFF;
  background-size: cover;
}
header h1 {
  padding: 1%;
}

/* Navigation bar */
.navbar {
  background-color: rgb(57, 62, 68);
}
.nav-item {
  border: 1px solid rgb(48, 52, 56);
  width: 100%;
  background-size: cover;
  text-align: center;
  color: #FFFFFF;
}
.nav-link {
  text-decoration: none;
  cursor: pointer;
  padding-left: 33%;
}
.nav-link:hover {
  text-decoration: none;
  cursor: pointer;
}
