/* Index */
#index {
  background-color: rgb(89, 96, 105);
}

/* Info */
#info {
  background-color: rgb(89, 96, 105);
}

/* News */
#news {
  background-color: rgb(89, 96, 105);
}

/* General layouts */
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

/* Navigation bar */
.navbar {
  background-color: rgb(57, 62, 68);
}
.nav-item {
  width: 100%;
  background-size: cover;
  text-align: center;
  color: #FFFFFF;
}

header {
  background-color: rgb(57, 62, 68);
  color: #FFFFFF;
  background-size: cover;
}
header h1 {
  padding: 1%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
ul li {
  cursor: pointer;
  margin: 0;
  text-align: center;
}
