/* Index */
#index {
  background-image: url(img/MadCrafter.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#index-content {
  
}
#opening {
  width: 100%;
}
#opening img {
  float: left;
  margin: 4%;
}
#opening p {
  float: left;
  width: 40%;
  margin: 10%;
  margin-left: 0;
  margin-top: 0;
  font-style: oblique;
}
#opening h2 {
  float: left;
  width: 40%;
  margin-right: 9%;
  margin-top: 9%;
  margin-left: 0;
  margin-bottom: 1%;
}
#ranks {
  float: left;
}

#veteran {
  float: right;
}

/* Info */
#staff {
  background-color: rgb(89, 96, 105);
}

/* News */
#news {
  background-color: rgb(89, 96, 105);
}

/* General layouts */
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
p, h2 {
  color: #FFFFFF;
}

/* Navigation bar */
.navbar {
  background-color: rgb(57, 62, 68);
}
.nav-item {
  width: 100%;
  background-size: cover;
  text-align: center;
  color: #FFFFFF;
  min-height: 50px;
}

header {
  background-color: rgb(57, 62, 68);
  color: #FFFFFF;
  background-size: cover;
  min-height: 150px;
  max-height: 200px;
  position: sticky;
}
header h1 {
  padding: 1%;
  float: left;
}
header img {
  float: right;
  position: absolute;
  height: 100%;
  width: inherit;
  max-height: 200px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
ul li {
  cursor: pointer;
  margin: 0;
  text-align: center;
}

/* Style the Image Used to Trigger the Modal */
#veteran {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#veteran:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#veteran_caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
